body{
    margin: 0;
}
nav{
    background-color: #2a5298;
    padding: 5px;
}
a{
    color: white;
    padding: 5px;
    text-decoration: none;
}
a:hover{
    color: black;
}
#container{
    text-align: center;
}