/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

/* CENTER */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* FORM */
.form {
  background: #2a5298;
  padding: 30px;
  border-radius: 15px;
  width: 350px;
  color: white;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

/* IMAGE */
.avatar {
  width: 80px;
  margin-bottom: 10px;
}

/* ROW */
.row {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

/* INPUT GROUP */
.input_group {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.input_group label {
  text-align: left;
  margin-bottom: 3px;
  font-size: 14px;
}

/* INPUT */
input {
  padding: 8px;
  border-radius: 5px;
  border: none;
  outline: none;
}

/* BUTTON */
button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background: #4b76c2;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background: #6c8edc;
}

/* LINK */
.link {
  margin-top: 10px;
}

.link a {
  color: white;
  text-decoration: underline;
  font-size: 14px;
}

/*Dark Mode Click*/
#Dark_Mode_click{
  margin: 20px;
  width : 10%
}